/* admin base */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background: #141414;
  color: #e5e5e5;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 16px;
  line-height: 1.2;
  scroll-behavior: smooth;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

input,
textarea,
select,
.btn {
  align-items: center;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 16px 24px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.content-btn {
  display: flex;
  margin: 20px 0;
  justify-content: start;
  gap: 20px;
}

.btn {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.75;
}

.btn:hover {
  opacity: 1;
}

.btn-green {
  background-color: #65b539;
}

.btn-red {
  background-color: #e50914;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.title {
  display: block;
  font-size: 36px;
  margin-bottom: 20px;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.link {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.sub-title {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  html {
    padding: 10px;
  }
  .content {
    width: 100%;
    overflow: auto;
  }
  .container {
    width: 100%;
    overflow: auto;
  }
}
@media (min-width: 481px) {
  body {
    padding: 20px;
  }
  .content {
    width: 100%;
    overflow: auto;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  body {
    padding: 40px;
  }
  .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
}

/* admin card */

.card {
  border: 1px solid #666;
  padding: 20px;
  border-radius: 8px;
  margin: 40px 0;
}

.lineInput {
  display: grid;
  margin: 20px 0;
}

label {
  color: #e5e5e5;
  padding-bottom: 16px;
}

input,
textarea {
  padding: 16px;
  border: 1px solid #666;
  border-radius: 6px;
  outline: 0;
  background-color: #000;
  color: #fff;
  text-align: left;
}

.content-btn {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-top: 8px;
}

.content {
  margin-top: 20px;
}

#lista table {
  border-collapse: collapse;
  width: 100%;
  background: #e5e5e5;
  color: #141414;
}

#lista table input,
#lista table textarea {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  padding: 8px;
  border: solid 1px #ccc;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

#lista table input:disabled,
#lista table textarea:disabled {
  color: #141414;
  background-color: transparent;
  border: none;
}

#lista table input.center {  
  text-align: center;
}

#lista table th,
#lista table td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ccc;
}

#lista table th {
  font-weight: bold;
  font-size: 13px;
  background-color: #eee;
}

#lista table td {
  position: relative;
  font-size: 13px;
  background-color: #fff;
}

#lista table td .thumb {
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  object-fit: cover;
  transition: all 200ms ease-in-out;
  z-index: 1;
  border-radius: 8px;
}

#lista table td {
  overflow: visible;
}

#lista table td:hover .thumb { 
  top: -50%;
  left: 8px;
  height: fit-content;
  transform: scale(1.5);
  z-index: 2;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
}

#lista table tr:hover td {
  background-color: #eee;
}

#lista table .row .actionButtons,
#lista table .row .editButtons {
  display: flex;
  flex-direction: row;  
  gap: 8px;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

#lista table .row:hover .actionButtons {
  opacity: 1;
}

#lista table .row .actionButtons .edit {
  background-color: #141414;
}

#lista table .row .editButtons .confirm {
  background-color: #65b539;
}

#lista table .row .actionButtons .delete,
#lista table .row .editButtons .cancel {
  background-color: #e50914;
}

#lista table .row.edit td {
  background-color: #e5e5e5;
  border-top-color: #e5e5e5;
  border-right-color: #e5e5e5;
  border-left-color: #e5e5e5;
}

#lista table .row.edit .thumb {
  display:none;
}

#lista table .row .editButtons {
  display: none;
}

#lista table .row.edit .actionButtons {
  display: none;
}

#lista table .row.edit .editButtons {
  display: flex;
  opacity: 1;
}

#lista table button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  opacity: 0.75;
  transition: all 200ms ease-in-out;
}

#lista table button:hover {
  opacity: 1;
}

#lista table button img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

#lista .center {
  text-align: center;
}
