/* admin base */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background: #141414;
  color: #e5e5e5;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 16px;
  line-height: 1.2;
  scroll-behavior: smooth;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

input,
textarea,
select,
.btn {
  font-size: 16px;
  align-items: center;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  font-weight: bold;
  cursor: pointer;
}

.content-btn {
  display: flex;
  margin: 20px 0;
  justify-content: start;
  gap: 20px;
}

.btn-green {
  color: #fff;
  background-color: #68b631;
}
.btn-green:hover {
  background-color: #40751b;
}
.btn-red {
  color: #fff;
  background-color: #e50914;
}

.btn-red:hover {
  background-color: #6f0006;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.sub-title {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  html {
    padding: 10px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 481px) {
  body {
    padding: 20px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  body {
    padding: 40px;
  }
  .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
}

/* admin card */

.card {
  border: 1px solid #666;
  padding: 20px;
  border-radius: 8px;
  margin: 40px 0;
}

.lineInput {
  display: grid;
  margin: 20px 0;
}

label {
  color: #e5e5e5;
  padding-bottom: 16px;
}

input {
  padding: 16px;
  border: 1px solid #666;
  border-radius: 6px;
  outline: 0;
  background-color: rgb(45, 45, 45);
  color: #fff;
  text-align: left;
}

.content-btn {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-top: 8px;
}

.content {
  margin-top: 15px;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
  background: #e5e5e5;
  color: #141414;
}

table th {
  background-color: rgb(180, 180, 180);
}
table th,
td {
  text-align: left;
  padding: 8px 16px;
}
table td {
  background-color: rgb(228, 228, 228);
}

table .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

table button {
  width: 36px;
  height: 36px;
  object-fit: contain;
  cursor: pointer;
  border: solid 1px #ccc;
  border-radius: 8px;
  background-color: #fff;
  padding: 8px;
}

table button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.center {
  text-align: center;
}
