* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #333;
}

.row-container {
  position: relative;
  padding: 15px;
  max-width: 100%;
  margin: 0;
}

.row-wrapper {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.row-wrapper::-webkit-scrollbar {
  display: none;
}

.row-items {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  cursor: pointer;
}

.row-control {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 60px;
  text-align: center;
  color: #fff;
  border: none;
  opacity: 0.2;
  transition: all 200ms ease-in-out;
}

.row-control:hover {
  opacity: 1;
  cursor: pointer;
}

.row-arrow-left {
  left: 0;
  background: linear-gradient(to left, transparent 0%, black 200%);
}

.row-arrow-right {
  right: 0;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.row-item {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  opacity: 0.5;
  transition: all 200ks;
}

.row-current-item {
  opacity: 1;
}
